<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>khaddict blog</title>
    <link>{{ channel_link }}</link>
    <atom:link href="{{ rss_href }}" rel="self" type="application/rss+xml" />
    <description>{{ channel_description }}</description>
    <language>{{ language }}</language>
{% for item in items %}
    <item>
      <title>{{ item.title }}</title>
      <link>{{ item.link }}</link>
      <guid isPermaLink="true">{{ item.link }}</guid>
      <pubDate>{{ item.pub_date }}</pubDate>
      <description>{{ item.description }}</description>
    </item>
{% endfor %}
  </channel>
</rss>
